.gallery-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.gallery-card:hover {

    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
    transform: scale(1.05);
        
    z-index: 10;
}