<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}3wolfdesign{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.ico') }}">
        
        {# On crée un bloc pour le CSS de base ou spécifique #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body> 
</html>